<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Dashboard</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
 </head>
<body>
  <nav class="navbar navbar-expand-lg" style="background-color: black;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: white"><b>Advanced Billing System</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/employee">Home</a>
        </li>
      </ul>
      <form class="d-flex" role="search"> 
      <div class="dropdown me-2">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		     <i class="bi bi-person-circle" style="color:white;"></i>
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <button class="dropdown-item" type="button"><a href="/profile" style="color:black;text-decoration:none">Profile</a></button>
		  </div>
		</div>
        <button class="btn btn-primary me-2"><a href="/login" style="color:white;text-decoration:none">Logout</a></button>
      </form>
    </div>
  </div>
</nav><br>
<div class="container">
  <h2 style="color:blue"> </h2>
  <br>
  
  <div class="row">
	   <th:block th:if="${role} =='manager'">
	
	  <div class="card" style="width: 18rem;margin-right:20px;">
		  <img class="card-img-top" src="images/employees.jpeg" alt="Card image">
		  <div class="card-body">
		    <h4 class="card-title">Manage Employees</h4>
		    <p class="card-text">Create, Edit, Delete, View, Search</p>
		    <a href="/employees" class="btn btn-primary">Click Here</a>
		  </div>
  	  </div>
  	  
  	  <div class="card" style="width: 18rem;margin-right:20px;">
		  <img class="card-img-top" src="images/shifts.jpeg" alt="Card image">
		  <div class="card-body">
		    <h4 class="card-title">Manage Shifts</h4>
		    <p class="card-text">Create, Update, Delete, View</p>
		    <a href="/shifts" class="btn btn-primary">Click Here</a>
		  </div>
  	  </div>
  	  </th:block>
  	  
  	  <div class="card" style="width:18rem;margin-right:20px;">
		  <img class="card-img-top" src="images/customers.jpeg" alt="Card image">
		  <div class="card-body">
		    <h4 class="card-title">Manage Customers</h4>
		    <p class="card-text">Create, Delete, View, Search</p>
		    <a href="/customers" class="btn btn-primary">Click Here</a>
		  </div>
  	  </div>
  	
  	  
  	 
  	  
  	  <div class="card" style="width: 18rem;margin-right:20px;margin-top:20px;">
		  <img class="card-img-top" src="images/inventory.png" alt="Card image">
		  <div class="card-body">
		    <h4 class="card-title">Inventory Management</h4>
		    <p class="card-text">Add, Update, View, Delete</p>
		    <a href="/inventory" class="btn btn-primary">Click Here</a>
		  </div>
  	  </div>
  	  
  	  <div class="card" style="width: 18rem;margin-right:20px;margin-top:20px;">
		  <img class="card-img-top" src="images/billing.png" alt="Card image">
		  <div class="card-body">
		    <h4 class="card-title">Bill</h4>
		    <p class="card-text">Make Billing</p>
		    <a href="/makebilling" class="btn btn-primary">Click Here</a>
		  </div>
  	  </div>
  	  
  </div>
</div>


 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>