<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Change Password</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 </head>
<body>
  <nav class="navbar navbar-expand-lg" style="background-color: #00FFFF;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: black"><b>Advanced Billing System</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <th:block th:if="${role} =='student'">
      <li class="nav-item">
          <a class="nav-link active" style="color:green" aria-current="page" href="/user">Home</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/reportOwner">Report Owner</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/reviewOwner">Review Owner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/reviewapp">Post Review</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/ticketraise">Raise Ticket</a>
        </li>
      </th:block>
      <th:block th:if="${role} =='houseowner'">
      <li class="nav-item">
          <a class="nav-link active" style="color:green" aria-current="page" href="/houseowner">Home</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/createHouse">Post House</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/viewHouses">View Houses</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/reportStudent">Report Student</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/review">Post Review</a>
        </li>  
         <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/ticket">Raise Ticket</a>
        </li>
      </th:block>
      </ul>
      <form class="d-flex" role="search">     
        <button class="btn btn-primary me-2"><a href="/login" style="color:white;text-decoration:none">Login</a></button>
      </form>
    </div>
  </div>
</nav><br><br>
<div class="container">
  <center><h2 style="color:blue">Change Password</h2></center>
  <br>
  <div class="col d-flex justify-content-center">
  <div class="card" style="width: 28rem;">
  <div class="card-body">
     <form th:action=@{/saveNewPassword} th:object="${admin}" method="post">
     <div class="form-group">
     <input type="hidden" class="form-control"  th:value="${email}" th:field="*{email}" />
    </div><br>
     <div class="form-group">
     <input type="password" class="form-control" placeholder="Enter New Password"  th:field="*{password}" autocomplete="off"/>
    </div><br>
    <div class="form-group">
     <input type="password" class="form-control" placeholder="Confirm Password"  name="confirmPassword" autocomplete="off"/>
    </div><br>
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
  </div>
</div>
</div>
</div>
</body>
</html>