<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Profile</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
   <style>
	   label{
	   font-weight:bold;
	   }
   </style>
   <script>
	
   </script>
  
 </head>
<body>
  <nav class="navbar navbar-expand-lg" style="background-color: #00FFFF;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: black"><b>Advanced Billing System</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <th:block th:if="${role} =='user'">
      <li class="nav-item">
          <a class="nav-link active" style="color:green" aria-current="page" href="/user">Home</a>
        </li>
           
      </th:block>
      <th:block th:if="${role} =='houseowner'">
      <li class="nav-item">
          <a class="nav-link active" style="color:green" aria-current="page" href="/owner">Home</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/createHouse">Post House</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" style="color:green" aria-current="page" href="/viewHouses">View Houses</a>
        </li>
      </th:block>
      </ul>
      <form class="d-flex" role="search">
         <th:block th:if="${role} =='student'">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit">Search</button> 
        </th:block>
		<div class="dropdown me-2">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		     <i class="bi bi-person-circle" style="color:white;"></i>
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <button class="dropdown-item" type="button"><a href="/profile" style="color:black;text-decoration:none">Profile</a></button>
		  
		  </div>
		</div>
		<button class="btn btn-primary me-2"><a href="/destroy" style="color:white;text-decoration:none">Logout</a></button>
      </form>
    </div>
  </div>
</nav><br>
<div class="container">
   <div class="col d-flex justify-content-center">
  <div class="card" style="width: 28rem;">
  <div class="card-body">
	  <div class="row">
		  <div class="col-lg-8">
		  <center><h2 style="color:blue;float:right">Your Profile</h2></center>
		  </div>
		  <div class="col-lg-4">
		   <form action="#" th:action="@{'/deleteProfile/' + ${user.Id}}" method="post">
			  <button type="submit" class="btn" data-toggle="tooltip" data-placement="right" title="Delete your profile" style="float:right">
	  			<i class="bi bi-trash3" style="color:red;font-weight:bold;font-size:20px"></i>
			 </button>
		   </form>
		   </span>
		  </div>
	  </div><hr>
	  <form action="#" th:action=@{/updateProfile} th:object="${user}" method="post">
	     <input type="hidden" class="form-control" placeholder="" th:field="*{Id}" required/>
	     
	     <div class="form-group">
	     <label>Firstname</label>
     <input type="text" class="form-control" placeholder="Enter firstname" name="firstname" th:value="${user.firstname}" required/>
    </div><br>
    <div class="form-group">
    
	     <label>Lastname</label>
     <input type="text" class="form-control" placeholder="Enter lastname"  name="lastname" th:value="${user.lastname}" required/>
    </div><br>
   
     <input type="hidden" class="form-control" placeholder="Enter username"  th:field="*{username}" required/>
    
    <div class="form-group">
      <label>Mobile Number</label>
     <input type="text" class="form-control" placeholder="Enter mobileNo" th:value="${user.mobileNumber}"  name="mobileNumber"  maxlength="10" minlength="10" title="Please enter exactly 10 digits" pattern="\d{10}" required/> 
    </div><br>
    
     <input type="hidden" class="form-control" placeholder="Enter email"  th:field="*{email}" required/>
  
    
      <input type="hidden" class="form-control" th:field="*{password}" required/>
 		<input type="hidden" class="form-control" th:field="*{usertype}" required/>
 
    
    <div class="form-group">
      <label>Door No</label>
     <input type="text" class="form-control" placeholder="Enter Door No" name="doorNo"   th:value="${user.doorNo}" required/>
    </div><br>
    
    <div class="form-group">
      <label>Street Name</label>
     <input type="text" class="form-control" placeholder="Enter Street Name" name="street" th:value="${user.street}" required/>
    </div><br>
    
    <div class="form-group">
      <label>City</label>
     <input type="text" class="form-control" placeholder="Enter City Name"  name="city" th:value="${user.city}" required/>
    </div><br>
    
    <div class="form-group">
      <label>Zip Code</label>
     <input type="text" class="form-control" placeholder="Enter Zip Code"  name="zipCode" th:value="${user.zipCode}" required/>
    </div><br>
    
    <div class="form-group">
      <label>Age</label>
      <input type="number" class="form-control" placeholder="Enter Age" th:value="${user.age}" name="age" min="10" max="99" required/>
    </div><br>
    
    <div class="form-group">
      <label>Security Question</label>
    <select name="securityQuestion" class="form-control" required>
     <option th:value="null">Select your Security Question</option>
    <option th:value="birthlocation">Where is your birth location</option>
    <option th:value="god">Who is your favorite God</option>
    <option th:value="school">What is your first school name</option>
    </select>
    </div><br>
    <div class="form-group">
      <label>Security Answer</label>
     <input type="text" class="form-control" placeholder="Enter Security Answer" th:value="${user.securityAnswer}"  name="securityAnswer" required/>
    </div><br>
	    <button type="submit" class="btn btn-primary">Update Profile</button>
	     <button class="btn btn-primary" style="float:right"><a href="/resetPassword" style="color:white;text-decoration:none">Reset Password</a></button>
	  </form>
  <br>
   </div>
</div>
</div>
</div>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>