<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Change Password</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
 </head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #00FFFF;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: black"><b>Advanced Billing System</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit">Search</button> 
		<div class="dropdown me-2">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		     <i class="bi bi-person-circle" style="color:white;"></i>
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <button class="dropdown-item" type="button"><a href="/profile" style="color:black;text-decoration:none">Profile</a></button>
		    <button class="dropdown-item" type="button">Notifications</button>
		    <button class="dropdown-item" type="button"></button>
		  </div>
		</div>
		<button class="btn btn-primary me-2"><a href="/destroy" style="color:white;text-decoration:none">Logout</a></button>
      </form>
    </div>
  </div>
</nav><br><br>
<div class="container">
  <center><h2 style="color:blue">Reset Password</h2></center>
  <br>
  <div class="col d-flex justify-content-center">
  <div class="card" style="width: 28rem;">
  <div class="card-body">
     <form th:action=@{/saveNewPassword} th:object="${admin}" method="post">
     <div class="form-group">
     <input type="hidden" class="form-control"  th:value="${email}" th:field="*{email}" />
    </div><br>
     <div class="form-group">
     <input type="password" class="form-control" placeholder="Enter New Password"  th:field="*{password}" autocomplete="off"/>
    </div><br>
     <div class="form-group">
     <input type="password" class="form-control" placeholder="Confirm Password"  name="confirmPassword" autocomplete="off"/>
    </div><br>
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
  </div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>